html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

button {
  background: none;
  border: none;
  color: inherit;
}

a {
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  background: radial-gradient(hsl(214deg, 47%, 23%), hsl(237deg, 49%, 15%));
  color: #FFF;
  font-family: "Barlow Semi Condensed", sans-serif;
  padding: 20px;
}

.container {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
}

.head {
  border: 2px solid hsl(217deg, 16%, 45%);
  padding: 10px 15px;
  border-radius: 10px;
  margin-bottom: 40px;
}
.head .home {
  width: 40px;
}

.head-game {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.head-game .score-container {
  background: #FFF;
  color: hsl(229deg, 25%, 31%);
  padding: 15px 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-radius: 10px;
}
.head-game .score-container p {
  color: hsl(229deg, 64%, 46%);
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
}
.head-game .score-container .score-number {
  font-size: 3.5rem;
  font-weight: 700;
}
@media (max-width: 700px) {
  .head-game .logo {
    max-width: 110px;
  }
  .head-game .home {
    max-width: 35px;
  }
  .head-game .score-container {
    padding: 10px 30px;
  }
  .head-game .score-container p {
    font-size: 0.875rem;
    letter-spacing: 1px;
  }
  .head-game .score-container .score-number {
    font-size: 3rem;
  }
}
@media (max-width: 480px) {
  .head-game .logo {
    max-width: 90px;
  }
  .head-game .home {
    max-width: 30px;
  }
  .head-game .score-container {
    padding: 15px 25px;
  }
  .head-game .score-container p {
    font-size: 0.75rem;
    letter-spacing: 1px;
  }
  .head-game .score-container .score-number {
    font-size: 2rem;
  }
}

.choose-mode-text {
  display: block;
  text-align: center;
  font-weight: 600;
  font-size: 2.5rem;
}

.choose-game-mode {
  display: flex;
  gap: 30px;
  margin-bottom: 60px;
}
.choose-game-mode .normal-game, .choose-game-mode .bonus-game {
  display: block;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.choose-game-mode .normal-game img, .choose-game-mode .bonus-game img {
  max-height: 257px;
}
.choose-game-mode .normal-game img, .choose-game-mode .normal-game p, .choose-game-mode .bonus-game img, .choose-game-mode .bonus-game p {
  transition: 0.3s ease-in-out;
}
.choose-game-mode .normal-game:hover img, .choose-game-mode .bonus-game:hover img {
  opacity: 0.6;
}
.choose-game-mode .normal-game:hover p, .choose-game-mode .bonus-game:hover p {
  background: #FFF;
  color: hsl(229deg, 25%, 31%);
}
.choose-game-mode p {
  padding: 10px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.choose-game-mode .choose-players {
  margin: 20px auto;
  display: none;
  flex-direction: column;
  gap: 20px;
  max-width: 300px;
}
.choose-game-mode .choose-players .one-player, .choose-game-mode .choose-players .two-players {
  background: #FFF;
  color: hsl(229deg, 25%, 31%);
  text-transform: uppercase;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  padding: 20px 30px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  font-weight: 700;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.choose-game-mode .choose-players .one-player:hover, .choose-game-mode .choose-players .two-players:hover {
  background: rgb(29, 28, 28);
  color: #FFF;
}
.choose-game-mode[data-game-selected] {
  max-width: 300px;
  margin: 20px auto;
  display: block;
}
.choose-game-mode[data-game-selected] .normal-game, .choose-game-mode[data-game-selected] .bonus-game {
  cursor: initial;
}
.choose-game-mode[data-game-selected] .normal-game:hover img, .choose-game-mode[data-game-selected] .bonus-game:hover img {
  opacity: 1;
}
.choose-game-mode[data-game-selected] .normal-game:hover p, .choose-game-mode[data-game-selected] .bonus-game:hover p {
  background: initial;
  color: #FFF;
}
.choose-game-mode[data-game-selected] .choose-players {
  display: flex;
}
.choose-game-mode[data-game-selected=normal] [data-game=bonus] {
  display: none;
}
.choose-game-mode[data-game-selected=bonus] [data-game=normal] {
  display: none;
}

.normal-1 .choose-move {
  display: none;
  max-width: 320px;
  margin: 100px auto 10px auto;
  position: relative;
}
.normal-1 .choose-move .game-option {
  padding: 20px;
  position: absolute;
  cursor: pointer;
}
.normal-1 .choose-move .game-option div {
  padding: 30px;
}
.normal-1 .choose-move .game-option img {
  width: 60px;
  height: 60px;
}
.normal-1 .choose-move .game-option:hover {
  border: 5px solid #FFF;
  transition: 0.3s ease-in-out;
}
.normal-1 .choose-move [data-game=paper] {
  top: -50px;
  left: -50px;
}
.normal-1 .choose-move [data-game=scissors] {
  top: -50px;
  right: -50px;
}
.normal-1 .choose-move [data-game=rock] {
  top: 140px;
  left: 80px;
}
.normal-1 .choose-move.active {
  display: block;
}
@media (max-width: 480px) {
  .normal-1 .choose-move .form-bg {
    display: flex;
    margin: 0 auto;
    max-width: 250px;
  }
  .normal-1 .choose-move .game-option {
    padding: 15px;
  }
  .normal-1 .choose-move .game-option div {
    padding: 20px;
  }
  .normal-1 .choose-move [data-game=paper] {
    top: -40px;
    left: 0px;
  }
  .normal-1 .choose-move [data-game=scissors] {
    top: -40px;
    right: 0px;
  }
  .normal-1 .choose-move [data-game=rock] {
    top: 100px;
    left: 95px;
  }
}

.bonus-1 .choose-move {
  display: none;
  max-width: 320px;
  margin: 70px auto 10px auto;
  position: relative;
}
.bonus-1 .choose-move .game-option {
  padding: 15px;
  position: absolute;
  cursor: pointer;
}
.bonus-1 .choose-move .game-option div {
  padding: 20px;
}
.bonus-1 .choose-move .game-option img {
  width: 50px;
  height: 50px;
}
.bonus-1 .choose-move .game-option:hover {
  border: 3px solid #FFF;
  transition: 0.3s ease-in-out;
}
.bonus-1 .choose-move [data-game=paper] {
  top: 60px;
  right: -30px;
}
.bonus-1 .choose-move [data-game=scissors] {
  top: -40px;
  left: 100px;
}
.bonus-1 .choose-move [data-game=rock] {
  top: 220px;
  left: 180px;
}
.bonus-1 .choose-move [data-game=lizard] {
  top: 220px;
  left: 0px;
}
.bonus-1 .choose-move [data-game=spock] {
  top: 60px;
  left: -30px;
}
.bonus-1 .choose-move.active {
  display: block;
}
@media (max-width: 480px) {
  .bonus-1 .choose-move .form-bg {
    display: flex;
    margin: 0 auto;
    max-width: 230px;
  }
  .bonus-1 .choose-move .game-option {
    padding: 12px;
  }
  .bonus-1 .choose-move .game-option div {
    padding: 15px;
  }
  .bonus-1 .choose-move .game-option img {
    width: 40px;
    height: 40px;
  }
  .bonus-1 .choose-move [data-game=paper] {
    top: 40px;
    right: 10px;
  }
  .bonus-1 .choose-move [data-game=scissors] {
    top: -40px;
    left: 120px;
  }
  .bonus-1 .choose-move [data-game=rock] {
    top: 160px;
    left: 180px;
  }
  .bonus-1 .choose-move [data-game=lizard] {
    top: 160px;
    left: 50px;
  }
  .bonus-1 .choose-move [data-game=spock] {
    top: 40px;
    left: 10px;
  }
}

.game-option {
  border-radius: 50%;
  display: inline-block;
}
.game-option div {
  background: #FFF;
  border-radius: 50%;
  box-shadow: inset 0 20px 0px -10px hsl(220deg, 5%, 87%);
}

[data-game=paper] {
  background: radial-gradient(hsl(230deg, 89%, 62%), hsl(230deg, 89%, 65%));
  box-shadow: inset 0 -17px 0px -10px hsl(229deg, 69%, 46%);
}

[data-game=scissors] {
  background: radial-gradient(hsl(39deg, 89%, 49%), hsl(40deg, 84%, 53%));
  box-shadow: inset 0 -17px 0px -10px hsl(40deg, 75%, 39%);
}

[data-game=rock] {
  background: radial-gradient(hsl(349deg, 71%, 52%), hsl(349deg, 70%, 56%));
  box-shadow: inset 0 -17px 0px -10px hsl(0deg, 54%, 30%);
}

[data-game=lizard] {
  background: radial-gradient(hsl(261deg, 73%, 60%), hsl(261deg, 72%, 63%));
  box-shadow: inset 0 -17px 0px -10px hsl(261deg, 79%, 54%);
}

[data-game=spock] {
  background: radial-gradient(hsl(189deg, 59%, 53%), hsl(189deg, 58%, 57%));
  box-shadow: inset 0 -17px 0px -10px hsl(189deg, 67%, 37%);
}

.option-picked {
  display: flex;
  justify-content: center;
  gap: 80px;
  position: relative;
}
.option-picked .game-option {
  padding: 30px;
}
.option-picked .game-option div {
  padding: 50px;
}
.option-picked .game-option img {
  width: 120px;
  height: 120px;
}
.option-picked .you-picked p,
.option-picked .house-picked p {
  text-transform: uppercase;
  margin-bottom: 40px;
  letter-spacing: 3px;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
}
.option-picked .house-picked [data-result] {
  display: none;
}
.option-picked .house-picked .before-pick {
  width: 220px;
  height: 220px;
  background: hsla(238deg, 48%, 15%, 0.425);
  border-radius: 50%;
  position: relative;
  top: 30px;
}
.option-picked .house-picked.active [data-result] {
  display: block;
}
.option-picked .house-picked.active .before-pick {
  display: none;
}
.option-picked .game-result {
  align-self: center;
  display: none;
  text-transform: uppercase;
  text-align: center;
}
.option-picked .game-result p {
  letter-spacing: 3px;
  font-size: 3rem;
  font-weight: 700;
  margin-bottom: 20px;
}
.option-picked .game-result a {
  background: #FFF;
  color: hsl(229deg, 25%, 31%);
  display: inline-block;
  padding: 15px 45px;
  border-radius: 5px;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 1rem;
  font-weight: 600;
}
.option-picked .game-result a.lose:hover {
  color: hsl(349deg, 71%, 52%);
}
.option-picked .game-result a.win:hover {
  color: hsl(120deg, 84%, 35%);
}
.option-picked .game-result.active {
  display: block;
}
@media (max-width: 950px) {
  .option-picked {
    gap: 40px;
  }
  .option-picked .game-option {
    padding: 22px;
  }
  .option-picked .game-option div {
    padding: 32px;
  }
  .option-picked .game-option img {
    width: 80px;
    height: 80px;
  }
  .option-picked .you-picked p,
  .option-picked .house-picked p {
    letter-spacing: 2px;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .option-picked .house-picked .before-pick {
    width: 160px;
    height: 160px;
    top: 10px;
    left: 20px;
  }
}
@media (max-width: 700px) {
  .option-picked {
    gap: 60px;
  }
  .option-picked .game-option {
    padding: 22px;
  }
  .option-picked .game-option div {
    padding: 32px;
  }
  .option-picked .game-option img {
    width: 80px;
    height: 80px;
  }
  .option-picked .you-picked,
  .option-picked .house-picked {
    display: grid;
    gap: 20px;
  }
  .option-picked .you-picked p,
  .option-picked .house-picked p {
    grid-row: 2;
    text-align: center;
    font-weight: 600;
    font-size: 1.3rem;
  }
  .option-picked .house-picked .before-pick {
    width: 120px;
    height: 120px;
    top: 40px;
    left: 40px;
    margin-bottom: 67px;
  }
  .option-picked .game-result {
    position: absolute;
    bottom: -120px;
  }
}
@media (max-width: 480px) {
  .option-picked {
    gap: 40px;
  }
  .option-picked .game-option {
    padding: 15px;
  }
  .option-picked .game-option div {
    padding: 20px;
  }
  .option-picked .game-option img {
    width: 60px;
    height: 60px;
  }
  .option-picked .you-picked p,
  .option-picked .house-picked p {
    letter-spacing: 1px;
    font-size: 0.875rem;
  }
  .option-picked .house-picked .before-pick {
    width: 100px;
    height: 100px;
    top: 10px;
    left: 20px;
    margin-bottom: 31px;
  }
}

.winner {
  box-shadow: rgba(219, 214, 214, 0.027) 0px 0px 0px 60px, rgba(255, 255, 255, 0.027) 0px 0px 0px 120px, rgba(250, 250, 250, 0.034) 0px 0px 0px 180px;
  border-radius: 50%;
  display: inline-block !important;
}
@media (max-width: 950px) {
  .winner {
    box-shadow: rgba(219, 214, 214, 0.027) 0px 0px 0px 40px, rgba(255, 255, 255, 0.027) 0px 0px 0px 80px, rgba(250, 250, 250, 0.034) 0px 0px 0px 120px;
  }
}
@media (max-width: 480px) {
  .winner {
    box-shadow: rgba(219, 214, 214, 0.027) 0px 0px 0px 20px, rgba(255, 255, 255, 0.027) 0px 0px 0px 40px, rgba(250, 250, 250, 0.034) 0px 0px 0px 80px;
  }
}

/*# sourceMappingURL=style.css.map */
